<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Programming A3</title>
</head>

<body>
    <h1>IoT Programming Assignment 2 dashboard</h1>
    <div style="padding: 20%; padding-top: 5%">
        <div class="camera">
            <img src="" alt="">
        </div>
        <div class="data">
            <ul>
                <li id="x-pos">X pos: </li>
                <li id="y-pos">Y pos: </li>
                <li>Pump state: </li>
                <li>Humidity: </li>
                <li>Temperature: </li>
            </ul>
        </div>
    </div>
    <script>
        var ws = new WebSocket("ws://localhost:8000/ws/data");
        ws.onmessage = function(event) {
            x_pos = document.getElementById("x-pos")
            y_pos = document.getElementById("y-pos")
            console.log(event);
        };
        function sendMessage(event, msg) {
            ws.send(msg)
            event.preventDefault()
        }
    </script>
</body>

</html>